///////////////////////////////////////////////////////////
//
// Palette
//
///////////////////////////////////////////////////////////

@blue: #124778;
@green: #19992E;
@grey: #494949;


///////////////////////////////////////////////////////////
//
// imports
//
///////////////////////////////////////////////////////////

@import "styles/responsive.less";
@import "styles/mixins.less";
@import "styles/layout.less";
@import "styles/fonts.less";
@import "styles/buttons.less";
@import "styles/header.less";
@import "styles/sections.less";
@import "styles/footer.less";