

///////////////////////////////////////////////////////////
//
// Sections
//
///////////////////////////////////////////////////////////

.has-2-columns{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 60px;
	width: 100%;

	@media (max-width: @threshold2) {
		grid-column-gap: 30px;
	}

	&:not(.dont-retract){
		@media (max-width: @threshold3) {
			grid-template-columns: 1fr;
		}
	}
}

.has-3-columns{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 60px;
	width: 100%;


	@media (max-width: @threshold2) {
		grid-column-gap: 30px;
	}

	&:not(.dont-retract){
		@media (max-width: @threshold3) {
			grid-template-columns: 1fr;
		}
	}
}

.has-4-columns{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 60px;
	width: 100%;

	@media (max-width: @threshold2) {
		grid-column-gap: 30px;
	}

	&:not(.dont-retract){
		@media (max-width: @threshold3) {
			grid-template-columns: 1fr;
		}
	}
}

//html{
//	scroll-snap-type: y mandatory;
//	scroll-padding: -10px;
//}

section, footer{
	//scroll-snap-align: start;
	min-width: 350px;
	min-height: 400px;
	padding: 80px 100px;
	padding-top: 80px !important;   // this is for the menu

	@media (max-width: @threshold1) {
		padding: 40px 50px;
	}

	@media (max-width: @threshold2) {
		padding: 20px 25px;
	}

	&.white{
		background-color: white;
		color: lighten(black, 10%);

		.tag-line{
			color: fade(black, 60%);
		}

		a:not(.button){
			color: @blue;
		}
	}

	&.blue{
		.gradient(@blue, darken(@blue, 20%), @blue);
	}

	///////////////////////////////////////////////////////////
	//
	// HOME
	//
	///////////////////////////////////////////////////////////

	&.home{
		overflow: hidden;
		padding-top: 40px;
		margin-top: 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
		position: relative;

		@media (max-width: @threshold1) {
			padding-top: 20px;
		}

		// changer layout to vertical stack
		@media (max-width: @threshold2) {
			padding: 0;
			grid-template-columns: 1fr;
			grid-template-areas:
			"top"
			"middle"
			"bottom";
			text-align: center;
			justify-content: center;

			.logo{
				grid-area: top;
				margin-bottom: 20px !important;
			}

			h1{
				max-width: 450px !important;
				margin-left: auto;
				margin-right: auto;
				text-align: center !important;
			}

			.scroll-info,
			.buttons {
				grid-column: 1 !important;
			}
		}


		h1{
			max-width: 300px;
			margin-bottom: 30px;
			text-align: left;
		}

		.tag-line{
			color: white;
			font-size: 27px;

			@media (max-width: @threshold2) {
				text-align: center;
			}

			@media (max-width: @threshold4) {
				font-size: 20px;
			}
		}

		.img.logo {
			background-image: url("/assets/logos/logo-white.png");
			width: 450px;
			height: 128px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center bottom;
			align-self: end;

			@media (max-width: @threshold2) {
				align-self: unset;
				margin: 0 auto;
			}

			@media (max-width: @threshold4) {
				width: 300px;
			}
		}

		.buttons {
			grid-column: span 2;
			display: block;
			text-align: center;
			padding-top: 30px;
			margin: 0 auto;
			white-space: nowrap;

			@media (max-width: @threshold1) {
				.scale(0.8);
				padding-top: 0;
			}

			@media (max-width: @threshold3) {
				.scale(0.5);


				.button{
					font-size: 140%;
				}
			}

			.button{
				margin-top: 0;
				margin-right: 0;
			}

		}

		.connector {
			border-bottom: 2px solid fade(white, 60%);
			width: 60px;
			display: inline-block;
			margin-left: -3px;
			margin-right: -3px;
			position: relative;
			top: -3px;

			@media (max-width: @threshold1) {
				width: 30px;
			}

			@media (max-width: @threshold4) {
				width: 10px;
			}
		}

		.scroll-info{
			grid-column: span 2;
			text-align: center;
			font-weight: 100;
			margin-top: 40px;
		}
	}

	///////////////////////////////////////////////////////////
	//
	// About
	//
	///////////////////////////////////////////////////////////


	&.about{
		.img{
			background-image: url("/assets/images/business01.jpg");
			float: right;
			margin: 50px;
			margin-right: 0;
			max-width: 400px;
			width: 100%;
			height: 266px;
			background-size: cover;
			background-position: top center;

			@media (max-width: @threshold2) {
				width: 300px;
				height: 200px;
				margin: 20px;
				margin-right: 0;
			}

			@media (max-width: @threshold3) {
				width: 200px;
				height: 150px;
			}

			@media (max-width: @threshold3) {
				float: none;
				margin: 0 auto;
				display: block;
				width: 100%;
				max-width: none;
			}
		}
	}

	///////////////////////////////////////////////////////////
	//
	// resilience
	//
	///////////////////////////////////////////////////////////


	&.resilience{
		background-image: url("/assets/icons/circle.jpg");
		background-repeat: no-repeat;
		background-position: bottom right;

		.has-2-columns {
			grid-template-columns: fit-content(400px) 1fr;

			@media (max-width: @threshold3) {
				display: block;
			}
		}

		.img.tree{
			background-image: url("/assets/images/tree02.jpg");
			//float: left;
			//margin: 50px;
			margin-top: 0;
			margin-left: 0;
			width: 400px;
			background-repeat: no-repeat;
			background-position: top right;

			@media (max-width: @threshold1) {
				width: 300px;
			}

			@media (max-width: @threshold2) {
				width: 200px;
			}

			@media (max-width: @threshold3) {
				display: none;
			}
		}
	}

	///////////////////////////////////////////////////////////
	//
	// Risk
	//
	///////////////////////////////////////////////////////////


	&.risk{
		position: relative;

		.has-3-columns {
			@media (max-width: @threshold1) {
				grid-template-columns: 1fr;
				grid-template-areas:
				"top right"
				"middle right";

				.img.risk {
					grid-area: right;
				}

				div {
					margin-bottom: 20px;
				}
			}

			@media (max-width: @threshold3) {
				grid-template-areas: none;

			}
		}

		&:before{
			opacity: 0.3;
			content: '.';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-image: url("/assets/icons/triangle.png");
			background-repeat: no-repeat;
			background-position: -20px bottom;
			pointer-events: none;
			font-size: 0;
			z-index: 1;
		}

		.img.risk{
			width: 300px;
			height: 450px;
			background-image: url("/assets/images/bridge.jpg");
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;

			@media (max-width: @threshold1) {
				float: right;
			}

			@media (max-width: @threshold2) {
				width: 250px;
			}

			@media (max-width: @threshold3) {
				display: none;
			}
		}

		.button{
			z-index: 2;
		}
	}

	///////////////////////////////
	// assurance
	///////////////////////////////

	&.assurance{
		background-image: url("/assets/icons/tree.png");
		background-repeat: no-repeat;
		background-position: bottom right;

		h1, h2, h3{
			color: @green;
		}

		h1{
			max-width: 600px;
		}

		a:not(.button){
			color: lighten(@blue, 20%);
		}

		.img {
			width: 300px;
			height: 200px;
			margin-bottom: 50px;
			background-size: contain;

			&.business02{
				background-image: url("/assets/images/business02.jpg");
			}

			&.business03{
				background-image: url("/assets/images/business03.jpg");
			}

			@media (max-width: @threshold1) {
				width: 250px;
				margin-bottom: 25px;
			}

			@media (max-width: @threshold3) {
				float: left;
				margin-bottom: 0;
				margin-left: 20px;
			}
		}

		@media (max-width: @threshold3) {
			br{
				display: none;
			}

			.images{
				margin: 0 auto;
			}
		}
	}
}